* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--dark);
  background-color: #f9f9ff;
  line-height: 1.6;
}

@import './styles/colors.css';
@import './styles/typography.css';